.Weather {
  color: #ffffff;
  background: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);

  background-blend-mode: normal, lighten, soft-light;
  border-radius: 20px;
  margin: 20px auto;
  max-width: 430px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  margin: 0 auto;
  font-size: 45px;
  padding-bottom: 0px;
}

h2 {
  font-size: 20px;
  text-align: center;
}
h3 {
  font-size: 18px;
  text-align: center;
}

h4 {
  color: white;
  font-size: 15px;
  text-align: center;
  padding-bottom: 0px;
}
h6 {
  font-size: 12px;
}
.search-bar {
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 20px 0px 10px 15px;
}

footer {
  text-align: center;
}
.description {
  display: inline-block;
  position: relative;
  right: -110px;
}
.weatherIcon {
  position: relative;
  right: -105px;
}

.col-3 {
  padding: 0px;
  position: relative;
  margin-right: 0%;
  right: 10px;
}

.col-1 {
  position: relative;
  padding: 0px 20px 0px 0px;
  right: 30px;
}
.col-4 {
  padding: 0%;
}
.highLow {
  float: right;
  position: relative;
  bottom: -20px;
  font-size: 20px;
}
.mainTemp {
  position: relative;
  text-align: center;
  padding: 0;
  margin: auto 0;
}
.convert {
  float: left;
  position: relative;
  bottom: -20px;
  font-size: 20px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.active {
  color: inherit;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}

.label {
  font-size: 12px;
  padding: 5px 10px 5px 15px;
  display: flex;
  flex-direction: row;
}
.label:after {
  content: "";
  flex: 1 1;
  border-bottom: 0.2px solid #fff;
  margin: auto;
  margin-left: 10px;
}
.details {
  position: relative;
  right: 0px;
  padding: 10px 30px 15px 10px;
  display: block;
}

h5 {
  font-size: 15px;
  text-align: center;
}
.week {
  margin-bottom: 0px;
  padding-bottom: 10px;
}

.source-code {
  position: relative;
  left: 95px;
  font-size: small;
}
