.Weather {
  color: #ffffff;
  background-image: linear-gradient(
    180deg,
    #96deda 10%,
    #5eaaa8 100%,
    #487e95 10%,
    #276678 10%
  );
  background-blend-mode: normal, lighten, soft-light;
  border-radius: 20px;
  margin: 20px auto;
  max-width: 430px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  margin: 0 auto;
  font-size: 45px;
  padding-bottom: 0px;
}

h2 {
  font-size: 20px;
  text-align: center;
}
h3 {
  font-size: 18px;
  text-align: center;
}

h4 {
  color: white;
  font-size: 15px;
  text-align: center;
  padding-bottom: 15px;
}
h6 {
  font-size: 12px;
}
.search-bar {
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 20px 0px 10px 10px;
}
figure {
  margin-bottom: 0%;
}

footer {
  text-align: center;
}
.col {
  padding: 0%;
}
.col .dayTemp {
  position: relative;
  left: 20px;
}
.col .dayTemp2 {
  position: relative;
  right: 20px;
}
.col-8 {
  padding: 0px 30px 0px 20px;
}
.col-3 {
  padding: 0px 15px 0px 0px;
  position: relative;
  left: -20px;
}

.col-1 {
  position: relative;
  padding: 0px 20px 0px 0px;
  left: -28px;
}
.col-7 {
  text-align: center;
}

.col-5 {
  padding: 0;
}

.mainTemp {
  position: relative;
  right: -10px;
  top: -20px;
}

.active {
  color: inherit;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}

.label {
  font-size: 12px;
  padding: 5px 10px 5px 15px;
  display: flex;
  flex-direction: row;
}
.label:after {
  content: "";
  flex: 1 1;
  border-bottom: 0.2px solid #fff;
  margin: auto;
  margin-left: 10px;
}
.details {
  position: relative;
  right: 0px;
  padding: 10px 30px 15px 10px;
  display: block;
}
.thermometer {
  position: relative;
  left: 20px;
  font-size: 20px;
}
.wind-icon {
  position: relative;
  left: 15px;
  font-size: 20px;
}
.humidity-icon {
  position: relative;
  left: 20px;
  font-size: 20px;
}
.pressure-icon {
  position: relative;
  left: 12px;
}

h5 {
  font-size: 15px;
  text-align: center;
}
.week {
  margin-bottom: 0px;
  padding-bottom: 10px;
}

.source-code {
  position: relative;
  left: 95px;
  font-size: small;
}
