.Weather {
  color: #ffffff;
background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  border-radius: 20px;
  margin: 20px auto;
  margin-bottom: 10px;
  padding-bottom: 0.1px;
  max-width: 430px;
  font-family: Arial, Helvetica, sans-serif;
}

.search-bar {
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 20px 0px 10px 15px;
}

footer {
  text-align: center;
  font-family: monospace;
  font-size: 15px;
}

.col-3 {
  padding: 0px;
  position: relative;
  margin-right: 0%;
  right: 10px;
}

.col-1 {
  position: relative;
  padding: 0px 20px 0px 0px;
  right: 30px;
}

.active {
  color: inherit;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}
