.dailyForecast {
  color: #ffffff;

  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
  border-radius: 20px;
  margin: 10px auto;
  max-width: 430px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.fiveDayForecast {
  padding: 10px 0px 10px 0px;
}

.forecastTemp-min {
  opacity: 0.7;
}
