h1 {
  text-align: center;
  margin: 0 auto;
  font-size: 45px;
  padding-bottom: 0px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

h2 {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

h4 {
  color: rgb(75, 72, 72);
  font-size: 15px;
  text-align: center;
  padding-bottom: 0px;
}
.description {
  display: inline-block;
  position: relative;
  right: -110px;
  color: white;
}
.weatherIcon {
  position: relative;
  right: -105px;
}
