.dailyForecast {
  color: #ffffff;

  background: hsl(205, 98%, 57%) 70.2%;
  border-radius: 20px;
  margin: 10px auto;
  margin-bottom: 0%;
  max-width: 430px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.fiveDayForecast {
  padding: 10px;
}

.forecastTemp-min {
  opacity: 0.7;
}
